@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Body styling */
body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Inter', sans-serif;
}
